@import 'core/variables';
@import 'core/mixins';
@import 'core/functions';


/* Normalize */
@import './vendors/normalize';
/* End Normalize */

/* Fonts */
@import 'core/fonts';
/* End Fonts */

/* Typography */
@import 'core/typography';
/* End Typography */

/* Base styles */
@import 'core/base';
/* End Base styles */

/* MAIN STYLES */
@import '../modules/modules';
/* END MAIN STYLES */


body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 14px;
    width: 100%;
    
    min-height: 100%;

}
.main-body{
    overflow-x: hidden;
}

.main-content {
    background: url('../img/test-task.png') no-repeat center center fixed;
}

.home {
    position: relative;
    min-height: 750px;
    margin-bottom: 200px;



    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        position: relative;

    }

    &__text {
        margin-top: 200px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        grid-column: 1/12;


    }

    &__text-title {
        word-spacing: 100vw;

        font-size: 80px;
        font-family: 'Rubik Mono One', sans-serif;
        line-height: 1.2;
        letter-spacing: 8.5px;
    }

    &__text-subtitle {
        margin-top: 20px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.5;




    }

    &__arrow-img {
        margin: 43px 0 0 35px;
    }

    &__play {
        position: absolute;
        top: -100px;

        left: 40%;

        &-link {
            position: relative;
            display: flex;
            align-items: center;

            &::before {

                content: '';
                background-color: rgb(122, 122, 122);
                opacity: 0.5;
                position: absolute;

                width: 1px;
                height: 65px;

                bottom: -65px;
                left: 7px;
            }

            &::after {

                content: '';
                background-color: rgb(122, 122, 122);
                opacity: 0.5;
                position: absolute;

                width: 17px;
                height: 1px;

                bottom: -65px;
                left: -8.5px;
            }

            & span {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                font-size: 12px;
                font-weight: 500;

            }

            & img {
            overflow: hidden;
            }
        }
    }

    &__bg {

        grid-column: 6/12;
        position: absolute;
        left: 0;
        top: 0;

        overflow: hidden;


        &-img {
            overflow: hidden;

        }
    }

    &__buttons {
        
    }

    &__buttons-list {
       
    }


  
       


    &__buttons-btn {
       
    }
}
.sl-list-container{
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.sl-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 50%;
        bottom: -60px;
        background-color: blue;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 50%;
        top: -60px;
        background-color: blue;
    }
}
.sl-list-btn{
    height: 12px;
    width: 12px;
    background-color: blue;
    border: none;
    border-radius: 50%;
   

    &.active {
        height: 16px;
        width: 16px;
        border: 2px solid #3a30f8;
        background-color: #fff;
    }
}

.benefits {
    min-height: 1000px;
    position: relative;
    margin-bottom: 200px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        min-height: 1000px;

    }

    &__player {
        grid-column: 1/4;
        position: absolute;
        left: -400px;
        top: 0;
    }

    &__player-link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: azure;
            opacity: 0.9;
            border-radius: 50%;

            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;

            background: url('../img/play-video.svg') no-repeat center center;


            z-index: 2;
        }


    }

    &__player-img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


    }



    &__content {}

    &__content-flex {}

    &__design {
        grid-column: 6/9;
        align-self: start;
        margin-top: 100px;
    }

    &__design-heading {


        font-size: 20px;

        color: rgb(58, 48, 248);
        font-weight: 500;
        text-transform: uppercase;


    }

    &__design-title {

        margin: 93px 0 37px;



    }




    &__design-text {
        font-size: 18px;
    }

    &__design-list {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__desing-item {}




    &__color {
        grid-column: 10/13;
        align-self: end;

    }

    &__color-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__color-block {
        padding-left: 20px;
    }

    &__color-title {
        margin-bottom: 35px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 22px;
            left: -30px;
            width: 20px;
            height: 1px;
            background-color: #7a7a7a;
            opacity: 0.5;
        }

        &::after {
            content: '';
            position: absolute;
            left: -30px;
            top: 22px;
            width: 1px;
            height: 270px;
            background-color: #7a7a7a;
            opacity: 0.5;
        }
    }

    &__color-subtitle {
        margin-bottom: 55px;
    }

    &__color-list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    &__color-item {

        &:last-child {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 30px;
                height: 50px;
                width: 1px;
                left: 50%;
                background-color: #7a7a7a;
                opacity: 0.5;

            }
        }
    }

    &__color-btn {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        transition: all 0.2s;





        &.yellow {
            background-color: rgb(241, 239, 67);

        }

        &.blue {
            background-color: rgb(67, 206, 241);

        }

        &.grey {
            background-color: rgb(173, 173, 173);
        }

        &.red {
            background-color: rgb(241, 67, 67);

        }

        &.black {
            background-color: rgb(0, 0, 0);

        }



    }

    &__color-img {}
}


.title-medium {
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
    line-height: 1.2;

    letter-spacing: 1px;
}

.item-line {
    position: relative;
    display: flex;


    font-size: 18px;



    &::before {

        content: '';
        min-width: 30px;
        height: 5px;
        background-color: #000;

        margin: 10px 10px 0 0;

    }
}

.mode {
    position: relative;
    min-height: 750px;
    margin-bottom: 200px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        position: relative;
        min-height: 750px;
    }

    &__block {
        margin-top: 100px;
        grid-column: 1/5;
        align-self: start;
    }

    &__block-title {
        margin-bottom: 40px;
    }

    &__block-subtitle {
        margin-bottom: 25px;
        font-size: 18px;
    }

    &__block-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__block-item {

        &.item-line {

            &::before {
                margin: 8px 10px 0 0;
            }
        }
    }

    &__speed {
        margin-top: 70px;

        display: flex;
        align-items: center;
        gap: 77px;
    }

    &__speed-max {}

    &__speed-span {
        font-size: 45px;
        font-family: 'Rubik Mono One', sans-serif;
        color: rgb(58, 48, 248);
        line-height: 1.2;
        word-spacing: -35px;

        & span {
            font-size: 20px;
        }

        
    }

    &__speed-text {
        word-spacing: 100vw;
        opacity: 0.5;
    }

    &__speed-modes {}

    &__bg {
        grid-column: 6/12;
        position: absolute;
        left: 0;
        top: 0;

        overflow: hidden;
    }

    &__bg-img {}

    &__play {
        position: absolute;
        bottom: 85px;

        left: 36%;
        z-index: 2;

        &-link {
            position: relative;
            display: flex;
            align-items: center;


            &::before {

                content: '';
                background-color: rgb(122, 122, 122);
                opacity: 0.5;
                position: absolute;

                width: 1px;
                height: 460px;

                top: -460px;
                left: 7px;
            }

            &::after {

                content: '';
                background-color: rgb(122, 122, 122);
                opacity: 0.5;
                position: absolute;

                width: 160px;
                height: 1px;

                top: -460px;
                right: 98px;
            }

            & span {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;


            }
        }
    }
}

.who {
    position: relative;
    background-image: url("../img/bg.jpg");

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        min-height: 790px;
        position: relative;
    }

    &__block {
        grid-column: 1/4;
        align-self: start;
        margin-top: 100px;
        color: #fff;
    }

    &__title {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 0.5px;
        margin-bottom: 40px;
    }


    &__text {
        padding-top: 35px;
        line-height: 1.7;


    }

    &__btn {
        margin-top: 100px;
    }

    &__link-btn {
        display: flex;
        padding: 15px 40px;
        max-width: 270px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        color: #3a30f8;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 50px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 1, 0.2);
        transition: all 0.3s;






    }

    &__bg {
        grid-column: 5/12;
        position: absolute;
        left: 0;
        top: -60px;
    }

    &__bg-img {}
}




/* ----------=====---------- */


/* MEDIA */


@media (any-hover: hover) {

    .who {

        &__link-btn:hover {
            background-color: #a19fe6;
            color: #fff;
        }
    }

    .benefits {
        &__color-btn:hover {
            transform: scale(1.1);
        }
    }

}

@media screen and(max-width: 1300px) {
    .benefits {

        &__player {

            &-link {
                justify-content: flex-end;

                &::before {
                    right: 25%;
                }

                &::after {
                    right: 27.5%;
                }
            }
        }

    }
}

@media screen and(max-width: 1200px) {
    .container {
        padding: 0 15px;
    }

    .home {


        &__text {

            &-title {
                font-size: 65px;
            }
        }
    }

    .nav {

        &__list {
            gap: 30px;
        }
    }


}

@media screen and(max-width: 1150px) {
    .mode {

        &__speed-span {
            font-size: 28px;
            word-spacing: -15px;

            & span {
                font-size: 18px;
            }
        }
    }
}

@media screen and(max-width: 972px) {
    .benefits {

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>* {
                width: 100%;
            }
        }

        &__player {
            position: static;

            &-img {
                width: 100%;
            }

            &-link {
                justify-content: center;

                &::before {
                    right: initial;
                }

                &::after {
                    margin-left: 5px;
                    right: initial;
                }
            }
        }

        &__design {
            align-self: center;
            text-align: center;

            &-title {
                margin: 40px 0;
            }


            &-list {
                align-items: center;
                flex-direction: column-reverse;
            }
        }

        &__color {

            &-inner {
               
                margin-top: 75px;
                align-items: center;
            }

            &-block {
                padding: 0;
                width: 100%;
                text-align: center;
            }

            &-list {
                justify-content: center;
                gap: 15px;
            }

            &-img {
                max-width: 100%;
            }

        }
        &__buttons.sl-list-container{
            height: 50%;
            top: initial;
            bottom: 0;
            width: initial;
        }
    }

    .mode {


        &__inner {
            display: flex;
            flex-direction: column-reverse;
        }

        &__block {
            text-align: center;
            position: relative;

            &-list {
                align-items: center;
            }
        }

        &__bg {
            position: static;

            &-img {
                width: 100%;
            }
        }

        &__play {
            top: -150px;
            left: 50%;
            bottom: initial;
            z-index: 0;

            &-link {

                &::before {
                    content: '';
                    background-color: #7a7a7a;
                    opacity: 0.5;
                    position: absolute;
                    width: 1px;
                    height: 50px;
                    top: 85px;
                    left: 7px;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
    
}




@media screen and(max-width: 900px) {

    .home {

        &__text {

            &-subtitle {
                font-size: 18px;
            }
        }

        &__play {

            &-link {

                &::before {
                    height: 20px;
                    bottom: -15px;
                }


                &::after {
                    display: none;
                }

                & span {
                    font-size: 10px;
                }
            }
        }
    }

    .who {

        &__block {
            grid-column: 1/5;
            margin-right: 15px;
        }

        &__link-btn {
            max-width: 250px;
            padding: 10px 40px;
        }
    }

}


@media screen and(max-width: 800px) {
    .home {


        &__text {

            &-title {
                font-size: 50px;
            }
        }

        &__play {
            left: 37%;
        }
    }

}

@media screen and(max-width: 715px) {
    .home {
        min-height: 100%;

        &__inner {
            display: flex;
            flex-direction: column;

        }

        &__text {
            margin-top: 100px;
            text-align: center;
        }

        &__arrow-img {
            margin: 40px 0;

        }

        &__play {
            left: 65%;
        }

        &__bg {
            position: static;


            &-img {
                width: 100%;
            }
        }
    }

    .benefits {
        &__color {

            &-img {
                width: 100%;
            }
        }
    }

    .who {

        &__inner {
            display: flex;
            flex-direction: column-reverse;
        }

        &__block {
            text-align: center;
        }

        &__btn {
            margin: 50px 0;
            display: flex;
            justify-content: center;
        }

        &__bg {
            position: static;

            &-img {
                width: 100%;
            }
        }
    }

}

@media screen and(max-width: 500px) {
    .home{

        &__text{

            &-title{
                font-size: 33px;
            }

            &-subtitle{
                font-size: 16px;
            }
        }
    }

    .title-medium{
        font-size: 30px;
    }

    .item-line{
        width: 100%;
        text-align: left;
    }
    
}


@media screen and(max-width: 400px){
    .home{

        &__text{

            &-title{
                font-size: 24px;
            }

            &-subtitle{
                font-size: 16px;
            }
        }

        &__play{
            left: 50%;
        }
    }

    .title-medium{
        font-size: 24px;
    }
}