/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Fonts */

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

/* End Fonts */

/* Typography */

body {
  font-family: 'Roboto';
  font-size: 16px;
  color: #4a4f4f;
}

/*
h1 {
    font-size: rem(54px);
    line-height: $base-line-height * 3;
    margin-bottom: $base-line-height * 2;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

/* End Typography */

/* Base styles */

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100%;
}

/* End Base styles */

/* MAIN STYLES */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}

.header__burger {
  position: relative;
  z-index: 12;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  display: none;
}

.header__burger div {
  width: 30px;
  height: 2px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.8;
}

.header__burger div.bar1 {
  background: #9f29ff;
  margin-bottom: 7px;
}

.header__burger div.bar2 {
  background: #4542dd;
  margin-bottom: 7px;
}

.header__burger div.bar3 {
  background: #b65cda;
}

.header__burger.open .bar1 {
  -webkit-transform: rotate(45deg) translate(6px, 9px);
      -ms-transform: rotate(45deg) translate(6px, 9px);
          transform: rotate(45deg) translate(6px, 9px);
}

.header__burger.open .bar2 {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.header__burger.open .bar3 {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
      -ms-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.nav__list-item {
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__list-item:not(:last-child) {
  padding: 0 10px 5px 10px;
}

.nav__list-item:last-child {
  padding: 0 0 5px 10px;
}

.nav__list-item:first-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #3a30f8;
  left: 0;
  bottom: 0;
  border-radius: 15%;
  opacity: 0.8;
}

.nav__list-link {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer {
  background-color: #2c2c2c;
  padding: 5px 0;
}

.footer-text {
  font-size: 14px;
  color: #605f5f;
  text-align: center;
}

/* END MAIN STYLES */

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

.main-content {
  background: url("../img/test-task.png") no-repeat center center fixed;
}

.home {
  position: relative;
  min-height: 750px;
  margin-bottom: 200px;
}

.home__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home__text {
  margin-top: 200px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  grid-column: 1/12;
}

.home__text-title {
  word-spacing: 100vw;
  font-size: 80px;
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 1.2;
  letter-spacing: 8.5px;
}

.home__text-subtitle {
  margin-top: 20px;
  font-size: 20px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
}

.home__arrow-img {
  margin: 43px 0 0 35px;
}

.home__play {
  position: absolute;
  top: -100px;
  left: 40%;
}

.home__play-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__play-link::before {
  content: '';
  background-color: #7a7a7a;
  opacity: 0.5;
  position: absolute;
  width: 1px;
  height: 65px;
  bottom: -65px;
  left: 7px;
}

.home__play-link::after {
  content: '';
  background-color: #7a7a7a;
  opacity: 0.5;
  position: absolute;
  width: 17px;
  height: 1px;
  bottom: -65px;
  left: -8.5px;
}

.home__play-link span {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 12px;
  font-weight: 500;
}

.home__bg {
  grid-column: 6/12;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.home__bg-img {
  overflow: hidden;
}

.sl-list-container {
  position: absolute;
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

.sl-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
}

.sl-list::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  bottom: -60px;
  background-color: blue;
}

.sl-list::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  top: -60px;
  background-color: blue;
}

.sl-list-btn {
  height: 12px;
  width: 12px;
  background-color: blue;
  border: none;
  border-radius: 50%;
}

.sl-list-btn.active {
  height: 16px;
  width: 16px;
  border: 2px solid #3a30f8;
  background-color: #fff;
}

.benefits {
  min-height: 1000px;
  position: relative;
  margin-bottom: 200px;
}

.benefits__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1000px;
}

.benefits__player {
  grid-column: 1/4;
  position: absolute;
  left: -400px;
  top: 0;
}

.benefits__player-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.benefits__player-link::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: azure;
  opacity: 0.9;
  border-radius: 50%;
  z-index: 1;
}

.benefits__player-link::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/play-video.svg") no-repeat center center;
  z-index: 2;
}

.benefits__player-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.benefits__design {
  grid-column: 6/9;
  align-self: start;
  margin-top: 100px;
}

.benefits__design-heading {
  font-size: 20px;
  color: #3a30f8;
  font-weight: 500;
  text-transform: uppercase;
}

.benefits__design-title {
  margin: 93px 0 37px;
}

.benefits__design-text {
  font-size: 18px;
}

.benefits__design-list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.benefits__color {
  grid-column: 10/13;
  align-self: end;
}

.benefits__color-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.benefits__color-block {
  padding-left: 20px;
}

.benefits__color-title {
  margin-bottom: 35px;
  position: relative;
}

.benefits__color-title::before {
  content: '';
  position: absolute;
  top: 22px;
  left: -30px;
  width: 20px;
  height: 1px;
  background-color: #7a7a7a;
  opacity: 0.5;
}

.benefits__color-title::after {
  content: '';
  position: absolute;
  left: -30px;
  top: 22px;
  width: 1px;
  height: 270px;
  background-color: #7a7a7a;
  opacity: 0.5;
}

.benefits__color-subtitle {
  margin-bottom: 55px;
}

.benefits__color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 32px;
}

.benefits__color-item:last-child {
  position: relative;
}

.benefits__color-item:last-child::before {
  content: '';
  position: absolute;
  top: 30px;
  height: 50px;
  width: 1px;
  left: 50%;
  background-color: #7a7a7a;
  opacity: 0.5;
}

.benefits__color-btn {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.benefits__color-btn.yellow {
  background-color: #f1ef43;
}

.benefits__color-btn.blue {
  background-color: #43cef1;
}

.benefits__color-btn.grey {
  background-color: #adadad;
}

.benefits__color-btn.red {
  background-color: #f14343;
}

.benefits__color-btn.black {
  background-color: black;
}

.title-medium {
  font-size: 40px;
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
}

.item-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.item-line::before {
  content: '';
  min-width: 30px;
  height: 5px;
  background-color: #000;
  margin: 10px 10px 0 0;
}

.mode {
  min-height: 750px;
  margin-bottom: 200px;
}

.mode__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 750px;
}

.mode__block {
  margin-top: 100px;
  grid-column: 1/5;
  align-self: start;
}

.mode__block-title {
  margin-bottom: 40px;
}

.mode__block-subtitle {
  margin-bottom: 25px;
  font-size: 18px;
}

.mode__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.mode__block-item.item-line::before {
  margin: 8px 10px 0 0;
}

.mode__speed {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 77px;
}

.mode__speed-span {
  font-size: 45px;
  font-family: 'Rubik Mono One', sans-serif;
  color: #3a30f8;
  line-height: 1.2;
  word-spacing: -35px;
}

.mode__speed-span span {
  font-size: 20px;
}

.mode__speed-text {
  word-spacing: 100vw;
  opacity: 0.5;
}

.mode__bg {
  grid-column: 6/12;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.mode__play {
  position: absolute;
  bottom: 85px;
  left: 36%;
  z-index: 2;
}

.mode__play-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mode__play-link::before {
  content: '';
  background-color: #7a7a7a;
  opacity: 0.5;
  position: absolute;
  width: 1px;
  height: 460px;
  top: -460px;
  left: 7px;
}

.mode__play-link::after {
  content: '';
  background-color: #7a7a7a;
  opacity: 0.5;
  position: absolute;
  width: 160px;
  height: 1px;
  top: -460px;
  right: 98px;
}

.mode__play-link span {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.who {
  background-image: url("../img/bg.jpg");
}

.who__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 790px;
  position: relative;
}

.who__block {
  grid-column: 1/4;
  align-self: start;
  margin-top: 100px;
  color: #fff;
}

.who__title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.who__text {
  padding-top: 35px;
  line-height: 1.7;
}

.who__btn {
  margin-top: 100px;
}

.who__link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 40px;
  max-width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 16px;
  color: #3a30f8;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 1, 0.2);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 1, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.who__bg {
  grid-column: 5/12;
  position: absolute;
  left: 0;
  top: -60px;
}

/* ----------=====---------- */

/* MEDIA */

@media screen and (max-width: 1300px) {
  .benefits__player-link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .benefits__player-link::before {
    right: 25%;
  }

  .benefits__player-link::after {
    right: 27.5%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  .home__text-title {
    font-size: 65px;
  }

  .nav__list {
    gap: 30px;
  }
}

@media screen and (max-width: 1150px) {
  .mode__speed-span {
    font-size: 28px;
    word-spacing: -15px;
  }

  .mode__speed-span span {
    font-size: 18px;
  }
}

@media screen and (max-width: 972px) {
  .benefits__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .benefits__inner > * {
    width: 100%;
  }

  .benefits__player {
    position: static;
  }

  .benefits__player-img {
    width: 100%;
  }

  .benefits__player-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits__player-link::before {
    right: initial;
  }

  .benefits__player-link::after {
    margin-left: 5px;
    right: initial;
  }

  .benefits__design {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
  }

  .benefits__design-title {
    margin: 40px 0;
  }

  .benefits__design-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .benefits__color-inner {
    margin-top: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .benefits__color-block {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .benefits__color-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }

  .benefits__color-img {
    max-width: 100%;
  }

  .benefits__buttons.sl-list-container {
    height: 50%;
    top: initial;
    bottom: 0;
    width: initial;
  }

  .mode__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .mode__block {
    text-align: center;
    position: relative;
  }

  .mode__block-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mode__bg {
    position: static;
  }

  .mode__bg-img {
    width: 100%;
  }

  .mode__play {
    top: -150px;
    left: 50%;
    bottom: initial;
    z-index: 0;
  }

  .mode__play-link::before {
    content: '';
    background-color: #7a7a7a;
    opacity: 0.5;
    position: absolute;
    width: 1px;
    height: 50px;
    top: 85px;
    left: 7px;
  }

  .mode__play-link::after {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .home__text-subtitle {
    font-size: 18px;
  }

  .home__play-link::before {
    height: 20px;
    bottom: -15px;
  }

  .home__play-link::after {
    display: none;
  }

  .home__play-link span {
    font-size: 10px;
  }

  .who__block {
    grid-column: 1/5;
    margin-right: 15px;
  }

  .who__link-btn {
    max-width: 250px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 800px) {
  .home__text-title {
    font-size: 50px;
  }

  .home__play {
    left: 37%;
  }
}

@media screen and (max-width: 715px) {
  .header__burger {
    display: block;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #f4e1ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .nav.nav-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__list-item:first-child::after {
    display: none;
  }

  .nav__list-link {
    font-size: 23px;
  }

  .home__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home__text {
    margin-top: 100px;
    text-align: center;
  }

  .home__arrow-img {
    margin: 40px 0;
  }

  .home__play {
    left: 65%;
  }

  .home__bg {
    position: static;
  }

  .home__bg-img {
    width: 100%;
  }

  .benefits__color-img {
    width: 100%;
  }

  .who__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .who__block {
    text-align: center;
  }

  .who__btn {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .who__bg {
    position: static;
  }

  .who__bg-img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .home__text-title {
    font-size: 33px;
  }

  .home__text-subtitle {
    font-size: 16px;
  }

  .title-medium {
    font-size: 30px;
  }
}

@media (any-hover: hover) {
  .nav__list-item:hover {
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
  }

  .nav__list-link:hover {
    opacity: 0.8;
  }

  .who__link-btn:hover {
    background-color: #a19fe6;
    color: #fff;
  }

  .benefits__color-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}